
<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="opened =! opened"><mat-icon>menu</mat-icon>Admin</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav  [(opened)]="opened" mode="side" style="background-color: rgb(195, 228, 243);">
      <mat-list>
        <mat-list-item><a routerLink="home" mat-list-item>Home</a></mat-list-item>
        <mat-list-item><a routerLink="dashboard" mat-list-item>Dashboard</a></mat-list-item>
        <mat-list-item><a routerLink="userlist" mat-list-item>Users</a></mat-list-item>
        <mat-list-item><a routerLink="register" mat-list-item>Registration</a></mat-list-item>
        <mat-list-item><a routerLink="login" mat-list-item>Login</a></mat-list-item>
        <mat-list-item><a routerLink="addBrand" mat-list-item>Add Brand</a></mat-list-item>
        <mat-list-item><a routerLink="addCategory" mat-list-item>Add Category</a></mat-list-item>
        <mat-list-item><a routerLink="categoryList" mat-list-item>Category List</a></mat-list-item>
        <mat-list-item><a routerLink="productList" mat-list-item>Product List</a></mat-list-item>

        
          
        
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>